.heading{
	background-color :rgb(22,80,230);}

#OfekTwitter{
	color: white ;
	font-size:20px;
}

.Hbutton{
	border:transparent;
	color:white;
	background-color:transparent ;
	text-align:center;
	margin-left :10px;
	float:right;
	position:relative;



}
.filter{
	position: relative;
	top:20px;
	left:70px;
}

.avatars{
	margin-left:50px;
	margin-top:40px;
	text-align: center}

span{
	font-size:12px;
}