.heading {
	background-color: rgb(22, 80, 230);
}

.filter {
	position: relative;
	top: 8%;
	left: 3%;
}

.avatars {
	margin-left: 3%;
	margin-top:5%;
	text-align: center;

}

span {
	font-size: 12px;
}

#followees {
	margin-right:50%;
}

#foloweesPics
{
	margin-left:20%;
}