.heading{
	background-color :rgb(22,80,230);}

#OfekTwitter{
	color: white ;
	font-size:20px;
}

.Hbutton{
	border:transparent;
	color:white;
	background-color:transparent ;
	text-align:center;
	margin-left :10px;
	float:right;
	position:relative;
}

#comment{
	margin-top:50px;
	margin-left:100px;
	width:600px;
	height:100px;
}

#immg{
	float:left;
}
a{
	text-decoration: none;
	font-size:14px;
}